.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column {
  width: 33.33%;
  margin: 20px;
}
/* .task_column img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto 10px auto;
} */
